Exercise 2: Print the following pattern

In [ ]:
for i in range(6, 1, -1):
    # for j in range(1,i+1):
    #     print(j, end=" ")

    print(" dfa")

In [ ]:
def add_to_num(num):
    total_sum = 0
    for i in range(num+1):
        total_sum += i

    return total_sum

print(add_to_num(10))

In [ ]:
num = int(input("Enter the number for multiplication:"))

for i in range(1, 11):
    print(num * i)

In [ ]:
numbers = [525, 12, 75,160, 10 ,14,150, 180, 145,500, 525, 50, 80]

for i in numbers:
    if i%5==0 and i <= 150:
        print(i)
    elif i > 500:
        break

In [ ]:
num = int(input("Enter the number:"))
count = 0
while num > 0:
    count = count + 1
    num = num // 10
print(count)

In [ ]:

n = 1
int(n)

Exercise 7: Print the following pattern

In [ ]:
j=5
for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=" ")

    print(" ")

In [ ]:
list1 = [10, 20, 30, 40, 50]

for i in range(1, len(list1)+1):
    print(list1[-i])

In [ ]:
for i in range(-10, 0, 1):
    print(i)

In [ ]:
for i in range(5):
    print(i)

print("Done!")

In [ ]:
list1 = 80
for num in range(list1):
    print(num)

Exercise 11: Write a program to display all prime numbers within a range

In [ ]:
start = 25
end = 50

for i in range(start, end+1):
    # print("\nintial i: ", i,)
    for j in range(2, i+1):
        # print("intial_j:", j, end=" ")
        if i == 2:
            print(i)
        elif j == i -1:
            # print("prime Number: ", i)
            print(i, end=" ")


        elif i % j != 0:
            # print("|continue|", end=" ")
            continue

        else:
            break

In [ ]:
start = 25
end = 50
print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1):
    # all prime numbers are greater than 1
    # if number is less than or equal to 1, it is not prime
    if num > 1:
        for i in range(2, num):
            # check for factors
            if (num % i) == 0:
                # not a prime number so break inner loop and
                # look for next number
                break
        else:
            print(num)

Exercise 12: Display Fibonacci series up to 10 terms

In [ ]:
c1 = 0
c2 = 1
k = 0
for i in range(10):
    print(k)
    k = c1 + c2
    c2 = c1
    c1 = k

Exercise 13: Find the factorial of a given number

In [ ]:
num = -8

factorial = 1

for i in range(num, 1, -1):
    factorial *= i

print(factorial)

Exercise 14: Reverse a given integer number

In [ ]:
num = "42359"
rev_num = ""
for i in range(1, len(num)+1):
    rev_num += num[-i]

print(rev_num)

Exercise 15: Use a loop to display elements from a given list present at odd index positions

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in my_list[1::2]:
   print(i)

Exercise 17: Find the sum of the series upto n terms

In [ ]:
c1 = 0

n = 5
for i in range(1, n+1):
    num = ""
    print("i:", i)
    for j in range(i):
        print("j:",j ,end=",")
        num += "2"
        print(num)
    num2 = int(num)
    c1 += num2

print(c1)

In [ ]:
n= 9


num = ""
total_sum = 0
for i in range(n):

    num += '2'
    total_sum += int(num)
    print(num, end="+" )

print(" = ", total_sum)

Exercise 18: Print the following pattern

In [61]:
n= 8
for i in range(1, int(n/2) +1):
    for j in range(0, i):
        print("*", end=" ")
    print("\t")
    n -= 1

# print(n)
for i in range(n-1, 0, -1):
    for j in range(0, i):
        print("*", end=" ")
    print("\t")

*
* *
* * *
* * * *
* * *
* *
*